<?xml version="1.0" encoding="UTF-8"?>
<servlet>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>servlets.NoteServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/note</url-pattern>
</servlet-mapping>
<session-config>
    <session-timeout>
        30
    </session-timeout>   
</session-config>
<welcome-file-list>
    <welcome-file>note</welcome-file>
</welcome-file-list>
<servlet>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>servlets.NoteServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/edit</url-pattern>
</servlet-mapping>
